CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_SR_WN_WN9_HIESP=y
CONFIG_FREERTOS_HZ=1000
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_WEARABLLM_TFT_SCLK_GPIO=6
CONFIG_WEARABLLM_TFT_MOSI_GPIO=7
CONFIG_WEARABLLM_TFT_CS_GPIO=9
CONFIG_WEARABLLM_TFT_DC_GPIO=4
CONFIG_WEARABLLM_TFT_RST_GPIO=3
CONFIG_WEARABLLM_TFT_BL_GPIO=5
CONFIG_WEARABLLM_TFT_WIDTH=320
CONFIG_WEARABLLM_TFT_HEIGHT=240
CONFIG_WEARABLLM_TFT_ROTATION=3
CONFIG_WEARABLLM_TFT_SAFE_LEFT_PERCENT=0
CONFIG_WEARABLLM_TFT_X_OFFSET=0
CONFIG_WEARABLLM_TFT_Y_OFFSET=0
CONFIG_WEARABLLM_TFT_INVERT_COLORS=y
